:root{
    --backgroundColor: linear-gradient(to top, #e6dada, #274046);
    --panelColor: linear-gradient(to right, #7f90a1, #29323c);
    --inputBarColor: #916363;
    --oddTask: #899cb1;
    --evenTask: #93b1cf;
    --headerColor: #dce3eb;
    --borderColor: rgb(22, 20, 20);
    --iconColor: rgb(5, 226, 255);
    --taskTextColor: rgb(255, 255, 255);
}
body {
    background: var(--backgroundColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

.panel{
    height: auto;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background: var(--panelColor);
    color: var(--headerColor)
}
.panel__h1{
    font-size: 35px;
}
.panel__description{
    font-size: 20px;
}
.button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.task__buttons--start{
    background-color: var(--iconColor);
}
.task__buttons--stop{
    background-color: var(--iconColor);
}
.disabled {
    cursor: not-allowed;
}

.tasks-list{
    width: 90%;
    margin: 0 auto;
    padding: 30px;
}
.done{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    font-size: 50px;
    opacity: .3;
    z-index: 100;
}
.task--done {
    border: 3px solid rgb(1, 252, 1)!important
}

.task{
    border-radius: 10px;
    margin: 5px;
    position: relative;
    color: var(--taskTextColor);
}
.tasks-list>.task:nth-child(odd){
    background-color: var(--oddTask)
}
.tasks-list>.task:nth-child(even){
    background-color: var(--evenTask)
}
.task--done{
    background-color: red;
}

.task__header--name{
    padding: 30px;
}
.task__buttons{
    margin: 0 auto;
    opacity: 1!important;
    border-top: 1px solid var(--borderColor);
    width: 100%;
}
.task__buttons>button{
    margin: 5px;
}

.task__header--time{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.panel__form--bar{
    width: 30%;
    padding: 15px;
    border: 2px solid var(--borderColor);
    border-radius: 4px 0 0 4px;
    background: transparent;
    color: white;
    outline: none;
} 
.panel__form--bar::placeholder{
    color: white;
    opacity: .5;
}
.panel__form--button{ 
    padding: 17px;
    border: none;
    border-radius: 0 5px 5px 0;
    background: var(--borderColor);
    color: white;
    cursor: pointer;
    transition: filter .3s;
}
.panel__form--button:hover{
    filter: brightness(150%);
}
.date{
    position: absolute;
    font-size: 10px;
    left: 70%;
}
.clock{
    position: absolute;
    left: 70%;
    top: 6%;
}